@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  background-color: #FFEDD5;
}

header h1 {
  margin-top: 32px;
  /* ROCKETCOFFEE */
  width: 236px;
  height: 33px;

  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  /* Inside auto layout */


  display: flex;
  flex-direction: row;
}

header h1 {
  /* identical to box height */
  color: #2D2C2A;
}

header h1 span {
  /* identical to box height */
  color: #995000;
}

.list-itens {
  width: 300px;
  /*margin-top: 18px;*/
  margin: 0 auto;
}

.list-itens h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 24px auto;
  padding: 10px 0;
  background-color: #FED7AA;
}

.list-itens ul {
  list-style-type: none;
}

.item {
  width: 300px;
  margin-top: 10px;
}

.item .focus {
  display: flex;
  flex-direction: row;

  text-transform: uppercase;

  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #2D2C2A;
}


.item .focus h3 {
  text-align: left;
  width: 70%;
  margin-bottom: 5px;
}

.item .focus strong {
  text-align: right;
  width: 30%;
}

.item p {
  text-align: justify;
}